CREATE TABLE ORGANIZACAO(
	Org_Id SERIAL PRIMARY KEY,
	Org_Nome VARCHAR(50) NOT NULL,
	Org_CNPJ VARCHAR(14) NOT NULL UNIQUE,
	Org_Email VARCHAR(100) NOT NULL,
	Org_Telefone VARCHAR(40) NOT NULL,
	Org_Endereco VARCHAR(100),
	Org_Situacao char(1),
	Org_Obs VARCHAR(255)
);

CREATE TABLE PESSOA(
	Pes_Id SERIAL PRIMARY KEY,
	Pes_Nome VARCHAR(50) NOT NULL,
	Pes_Email VARCHAR(100) NOT NULL UNIQUE	
);

CREATE TABLE CLIENTE(
	Cli_Id SERIAL PRIMARY KEY,
	Cli_PessoaId INT NOT NULL,
	Cli_OrganizacaoId INT NOT NULL,
	FOREIGN KEY (Cli_OrganizacaoId) REFERENCES ORGANIZACAO(Org_Id),
	FOREIGN KEY (Cli_PessoaId) REFERENCES PESSOA(Pes_Id)
);

CREATE TABLE ATENDENTE(
	Ate_Id SERIAL PRIMARY KEY,
	Ate_PessoaId INT NOT NULL,
	FOREIGN KEY (Ate_PessoaId) REFERENCES PESSOA(Pes_Id)
);

CREATE TABLE DEPARTAMENTO(
	Dep_Id SERIAL PRIMARY KEY,
	Dep_Nome VARCHAR(50) NOT NULL,
	Dep_Email VARCHAR(100) NOT NULL
);

CREATE TABLE CATEGORIA(
	Cat_Id SERIAL PRIMARY KEY,
	Cat_Nome VARCHAR(50) NOT NULL
);

CREATE TABLE DEPARTAMENTO_CATEGORIA(
	DC_DepartamentoId INT, 
	DC_CategoriaId INT,
	PRIMARY KEY (DC_DepartamentoId, DC_CategoriaId),
	FOREIGN KEY (DC_DepartamentoId) REFERENCES DEPARTAMENTO(Dep_Id),
	FOREIGN KEY (DC_CategoriaId) REFERENCES CATEGORIA(Cat_Id)
	
);

CREATE TABLE DEPARTAMENTO_ATENDENTE(
	DA_DepartamentoId INT, 
	DA_AtendenteId INT, 
	PRIMARY KEY (DA_DepartamentoId, DA_AtendenteId),
	FOREIGN KEY (DA_DepartamentoId) REFERENCES DEPARTAMENTO(Dep_Id),
	FOREIGN KEY (DA_AtendenteId) REFERENCES ATENDENTE(Ate_Id)
);

CREATE TABLE PRIORIDADE(
	Pri_Id SERIAL PRIMARY KEY,
	Pri_Nome VARCHAR(50) NOT NULL
);

CREATE TABLE STATUS_CHAMADO(
	SCha_Id SERIAL PRIMARY KEY,
	SCha_Nome VARCHAR(50) NOT NULL
);

CREATE TABLE CHAMADO(
	Cha_Id SERIAL PRIMARY KEY,
	Cha_Titulo VARCHAR(50) NOT NULL,
	Cha_Assunto VARCHAR(100),
	Cha_Descricao VARCHAR(999) NOT NULL,
	Cha_ClienteId INT NOT NULL,
	Cha_AtendenteId INT NOT NULL,
	Cha_DepartamentoId INT NOT NULL,
	Cha_CategoriaId INT NOT NULL, 
	Cha_PrioridadeId INT NOT NULL,
	Cha_StatusId INT NOT NULL,
	Cha_Data DATE NOT NULL DEFAULT(CURRENT_DATE),
	Cha_Criador VARCHAR(100) NOT NULL,
	FOREIGN KEY (Cha_ClienteId) REFERENCES CLIENTE(Cli_Id),
	FOREIGN KEY (Cha_AtendenteId) REFERENCES ATENDENTE(Ate_Id),
	FOREIGN KEY (Cha_DepartamentoId) REFERENCES DEPARTAMENTO(Dep_Id),
	FOREIGN KEY (Cha_CategoriaId) REFERENCES CATEGORIA(Cat_Id),
	FOREIGN KEY (Cha_PrioridadeId) REFERENCES PRIORIDADE(Pri_Id),
	FOREIGN KEY (Cha_StatusId) REFERENCES STATUS_CHAMADO(SCha_Id)	
);

CREATE TABLE ACAO_CHAMADO(
	Acao_Id SERIAL PRIMARY KEY,
	Acao_ChamadoId INT NOT NULL,
	Acao_Descricao VARCHAR(255) NOT NULL,
	Acao_AtendenteId INT NOT NULL, 
	Acao_DepartamentoId INT NOT NULL, 
	Acao_CategoriaId INT NOT NULL, 
	FOREIGN KEY (Acao_ChamadoId) REFERENCES CHAMADO(Cha_Id),
	FOREIGN KEY (Acao_AtendenteId) REFERENCES ATENDENTE(Ate_Id),
	FOREIGN KEY (Acao_DepartamentoId) REFERENCES DEPARTAMENTO(Dep_Id),
	FOREIGN KEY (Acao_CategoriaId) REFERENCES CATEGORIA(Cat_Id)
);