@model WebApplication1.Chamado

@{
    ViewData["Title"] = "Create";
}

<h4>Chamado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChaTitulo" class="control-label">Titulo</label>
                <input asp-for="ChaTitulo" class="form-control" />
                <span asp-validation-for="ChaTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChaAssunto" class="control-label">Assunto</label>
                <input asp-for="ChaAssunto" class="form-control" />
                <span asp-validation-for="ChaAssunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChaDescricao" class="control-label">Descrição</label>
                <input asp-for="ChaDescricao" class="form-control" />
                <span asp-validation-for="ChaDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChaClienteid" class="control-label">Cliente Id</label>
                <select asp-for="ChaClienteid" class ="form-control" asp-items="ViewBag.ChaClienteid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChaAtendenteid" class="control-label">Atendente Id</label>
                <select asp-for="ChaAtendenteid" class ="form-control" asp-items="ViewBag.ChaAtendenteid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChaDepartamentoid" class="control-label">Departamento Id</label>
                <select asp-for="ChaDepartamentoid" class ="form-control" asp-items="ViewBag.ChaDepartamentoid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChaCategoriaid" class="control-label">Categoria Id</label>
                <select asp-for="ChaCategoriaid" class ="form-control" asp-items="ViewBag.ChaCategoriaid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChaPrioridadeid" class="control-label">Prioridade Id</label>
                <select asp-for="ChaPrioridadeid" class ="form-control" asp-items="ViewBag.ChaPrioridadeid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChaStatusid" class="control-label">Status Id</label>
                <select asp-for="ChaStatusid" class ="form-control" asp-items="ViewBag.ChaStatusid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChaCriador" class="control-label">Criador</label>
                <input asp-for="ChaCriador" class="form-control" />
                <span asp-validation-for="ChaCriador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
