@model WebApplication1.DepartamentoAtendente

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Departamento - Atendente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Atendente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaAtendente.AteId)
        </dd>
        <dt class = "col-sm-2">
            Departamento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaDepartamento.DepEmail)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Voltar</a>
</div>
